@keyframes bounceTop_01 {
    0%,
    100% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(0px);
    }
}
@keyframes pulse_01 {
    0% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(106, 96, 255, 0.685);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 13px rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
