@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
    --blue-main: #474af1;
    --blue-main-light: #686bf1;
    --blue-light: #91b3fa;
    --blue-light-2: #a9c4fd;
    --white-main: #ffffff;
    --white-dark: #fafafa;
    --salmon-main: #fe7062;
    --font-black-main: #3c3c3c;
    --shadow-main: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    --shadow-bottom: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
a {
    text-decoration: none;
    color: var(--font-black-main);
    transition: 0.25s;
}
article {
    padding: 100px;
}
button {
    border: none;
    transition: 0.25s;
}
body {
    font-family: "Poppins", sans-serif;
}
.btn-first,
.btn-second {
    background-color: var(--blue-main);
    padding: 10px 20px;
    border-radius: 5px;
}
.btn-first:hover,
.btn-first:focus {
    box-shadow: inset 10em 0 0 0 var(--blue-main-light);
    color: white;
}
.btn-second:hover, 
.btn-second:focus {
    box-shadow: inset 10em 0 0 0 var(--blue-light-2);
    color: white;
}
.btn-second {
    background-color: var(--blue-light);
}
.color-white {
    color: var(--white-main);
}
.color-blue-light {
    color: var(--blue-light);
}
.an-bounce {
    animation: bounceTop_01 3s ease infinite;
}
.an-pulse {
    animation: pulse_01 3s ease infinite;
}
