/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
client_secret_507914255970-6v98q3qt5v2rvhoa48kul00pfgslu5k7.apps.googleusercontent.com.json