.tech-home {
    background-image: url(../../../public/resources/img-web/img-doctor.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tech-spec{
    background-image: url(../../../public/resources/img-web/img-spec.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    display: flex;
    height: 500px;
    background-size: 90%;
    align-items: center;
    justify-content: center;
}
.tech-component {
    background-color: var(--white-main);
}
.tech-home h2,
.tech-home h4 {
    color: var(--white-main);
}
.tech-home h2 {
    opacity: 0.9;
}
.utilities {
    color: var(--font-black-main);
    text-align: center;
    opacity: 0.9;
}
.container, .container-sm {
    max-width: 100%;
}
.row{
    padding: 0;
    margin: 0;
}
.tech-home{
    background-size: cover;
}
.tech-home h4 {
    padding: 0 20px;
}
.card {
    width: 340px;
    height: 250px;
}
.card p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3rem;
    opacity: 0.8;
}
.card .tech-home {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.tech-home .content {
    padding: 0 20px;
    text-align: center;
}
.tech-home h2 {
    font-size: 1.4rem;
    filter: brightness(100%);
}
.tech-home h4 {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    opacity: 0.7;
    margin-top: 10px;
}
.tech-title {
    margin-bottom: 20px;
    text-align: center;
    padding: 0 20px;
    font-weight: 500;
    color: var(--font-black-main);
    font-size: 1.4rem;
}
article.tech-component {
    padding: 50px 0;
}
.component {
    display: flex;
    justify-content: center;
}
.list-component .card h5 {
    font-weight: 600;
    color: var(--font-black-main);
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.list-component .card img {
    width: 100px;
    margin-bottom: 10px;
}
.utilities {
    margin-top: 40px;
}
.tech-spesification .tech-title {
    color: var(--font-black-main);
}
.img-spec {
    width: 100%;
    text-align: center;
}
.img-spec img {
    width: 100%;
}
@media (max-width: 992px){
    .container, .container-sm {
        max-width: 100%;
    }
    .row{
        padding: 0;
        margin: 0;
    }
    .tech-home{
        background-size: cover;
    }
    .tech-home h4 {
        padding: 0 20px;
    }
    .card {
        margin: 0;
        margin-bottom: 10px;
        margin: 6px 15px;
        width: 340px;
    }
    .card p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.3rem;
        opacity: 0.8;
    }
    .card .tech-home {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .tech-home .content {
        padding: 0 20px;
        text-align: center;
    }
    .tech-home h2 {
        font-size: 1.4rem;
        filter: brightness(100%);
    }
    .tech-home h4 {
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 500;
        opacity: 0.7;
        margin-top: 10px;
    }
    .tech-title {
        margin-bottom: 20px;
        text-align: center;
        padding: 0 20px;
        font-weight: 500;
        color: var(--font-black-main);
        font-size: 1.4rem;
    }
    article.tech-component {
        padding: 50px 0;
    }
    .component {
        display: flex;
        justify-content: center;
    }
    .list-component .card h5 {
        font-weight: 600;
        color: var(--font-black-main);
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
    .list-component .card img {
        width: 100px;
        margin-bottom: 10px;
    }
    .utilities {
        margin-top: 40px;
    }
    .tech-spesification .tech-title {
        color: var(--font-black-main);
    }
    .img-spec {
        width: 100%;
        text-align: center;
    }
    .img-spec img {
        width: 100%;
    }
}

@media (max-width: 768px){
    .container, .container-sm {
        max-width: 100%;
    }
    .row{
        padding: 0;
        margin: 0;
    }
    .tech-home{
        background-size: cover;
    }
    .tech-home h4 {
        padding: 0 20px;
    }
    .card {
        margin: 0;
        margin-bottom: 10px;
        margin: 6px 15px;
        width: 340px;
    }
    .card p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.3rem;
        opacity: 0.8;
    }
    .card .tech-home {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .tech-home .content {
        padding: 0 20px;
        text-align: center;
    }
    .tech-home h2 {
        font-size: 1.4rem;
        filter: brightness(100%);
    }
    .tech-home h4 {
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 500;
        opacity: 0.7;
        margin-top: 10px;
    }
    .tech-title {
        margin-bottom: 20px;
        text-align: center;
        padding: 0 20px;
        font-weight: 500;
        color: var(--font-black-main);
        font-size: 1.4rem;
    }
    article.tech-component {
        padding: 50px 0;
    }
    .component {
        display: flex;
        justify-content: center;
    }
    .list-component .card h5 {
        font-weight: 600;
        color: var(--font-black-main);
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
    .list-component .card img {
        width: 100px;
        margin-bottom: 10px;
    }
    .utilities {
        margin-top: 40px;
    }
    .tech-spesification .tech-title {
        color: var(--font-black-main);
    }
    .img-spec {
        width: 100%;
        text-align: center;
    }
    .img-spec img {
        width: 100%;
    }
    .tech-spec{
        height: 270px;
        margin-top: 50px;
    }
}

@media (max-width: 576px) {
    .tech-spec{
        height: 200px;
    }
    .card {
        margin: 0;
        margin-bottom: 10px;
        margin: 6px 15px;
        width: 340px;
    }
    .card p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.3rem;
        opacity: 0.8;
    }
    .card .tech-home {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .tech-home .content {
        padding: 0 20px;
        text-align: center;
    }
    .tech-home h2 {
        font-size: 1.4rem;
        filter: brightness(100%);
    }
    .tech-home h4 {
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 500;
        opacity: 0.7;
        margin-top: 10px;
    }
    .tech-title {
        margin-bottom: 20px;
        text-align: center;
        padding: 0 20px;
        font-weight: 500;
        color: var(--font-black-main);
        font-size: 1.4rem;
    }
    article.tech-component {
        padding: 50px 0;
    }
    .component {
        display: flex;
        justify-content: center;
    }
    .list-component .card h5 {
        font-weight: 600;
        color: var(--font-black-main);
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
    .list-component .card img {
        width: 100px;
        margin-bottom: 10px;
    }
    .utilities {
        margin-top: 40px;
    }
    .tech-spesification .tech-title {
        color: var(--font-black-main);
    }
    .img-spec {
        width: 100%;
        text-align: center;
    }
    .img-spec img {
        width: 300px;
    }
}
